html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    padding-top: 30vh;
  }
  
  .red-div {
    position: relative;
    border: 1px solid #fdb6c5;
    background-color: #fff5f7;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    padding: 16px;
  }
  
  .red-div .title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-top: 0;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container input[type="text"],
  .container input[type="password"] ,
  .container input[type="file"], .selects{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    color: palevioletred;
    background-color: pink;
    border-color: papayawhip;
    border-radius: 5px;
    cursor: pointer;
  }